.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 56px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}
.board-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  text-align: center;
  padding: 24px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
